.elton{
 margin-top: 6rem;
 margin-bottom: 11rem;
 padding-left: 2rem;
  border-radius: 50%;
}
.icons{
  padding:1rem;
}
.home{
  display:flex;
  flex-direction: row;
  align-items: center;
}
.contact{
  margin-bottom: 10rem;
}
.aboutMe{
  margin-bottom: 25rem;
}
